
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_IndexLayout.cshtml";
}

<div id="mainCenterText">
    <span id="logoText">
        Event Manager
    </span>
    <div id="logoUnderline"></div>
    <span id="motivText">We are all going to die</span>
</div>