@model EventManager.Web.ViewModels.Manage.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new {id = "changePasswordForm", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h2>Change Password</h2>
    <div class="lblInpGr PassGr">
        <label for="currentPass">Current password</label>
        @Html.PasswordFor(m => m.OldPassword, new { @class = "inText inTextPass", id = "currentPass", required = "required" })
    </div>
    <div class="lblInpGr PassGr">
        <label for="newPass">New password</label>
        @Html.PasswordFor(m => m.NewPassword, new { @class = "inText inTextPass", id = "newPass", required = "required" })
        </div>
        <div class="lblInpGr PassGr">
            <label for="confirmNewPass">Confirm password</label>
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "inText inTextPass", id = "confirmNewPass", required = "required" })
        </div>
        <input type="submit" value="Change Password">
}