/* Header Styles */
main {
    margin-left: auto;
}

#headerMenu {
    padding: 0 0 14px 0;
}

#mainHeader {
    max-width: 100%;
    overflow: auto;
    background-color: rgb(102, 102, 102);
    display: none;
}

/* Sidebar Toggler Settings */
#svgLogo {
    width: 50px;
    height: 50px;
    opacity: 0.7;
}

#sidebarToggler {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 10px 2px 5px;
    font-size: 1.2em;
    z-index: 1000;
    transition: all 0.5s;
    cursor: pointer;
}




.dropdownToggle:hover {
    transform: scale(1.5, 1.5);
    padding: 30px;
    border-radius: 0 50% 50% 50%;
    cursor: pointer;
}

/* Sidebar Settings */
/* TODO: Make it responsive on mobile widescreen */

#headerContent {
    margin-top: 63px;
}

#sideBarMenu {
    margin-top: 10px;
    overflow: hidden;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);

}

.menuButton {
    display: inline-block;
    width: 100%;
    overflow: hidden;
    margin: -3px 0 -3px 0;
}

.menuButton a {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    padding: 15px 0 15px 15px;
    font-size: 1.2em;
    width: 100%;
    display: block;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    margin: 0;
}

.menuButton a:hover, .selectedMenuButton {
    background-color: #6DE50A;
}

.menuUnderlineContent, .eventDetailsUnderline {
    height: 2px;
    background-color: rgba(255, 255, 255, 0.5);
    width: 90%;
    border-radius: 20px;
    margin: 10px;
}

/* Search Settings */

#searchWrapper {
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.4);
    padding-bottom: 10px;
    transition: all 0.5s ease;
}

.searchPage #searchWrapper {
    background-color: rgba(109, 229, 10, 0.5);
}

#buttonSearchIcon {
    position: absolute;
    color: #FFFFFF;
    top: 70px;
    left: 15px;
    width: 30px;
    height: 30px;
    background-image: url(../../Images/icons/search-128.png);
    background-size: cover;
    background-color: transparent;
    border: none;
    outline: none;
    background-repeat: no-repeat;
    overflow: hidden;

}

input[type="search"] {
    margin: 30px 0 0 10px;
    width: 95%;
    display: block;
    padding: 10px 0 10px 45px;
    text-align: left;
    background-color: transparent;

!important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    font-size: 1.2em;
    font-family: myriadPro;
    transition: all 1s;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
    color: rgba(255, 255, 255, 0.7);
}

input[type="search"]:focus {
    outline: none;
    border-bottom: 1px solid #6DE50A;
}

/*NOTIF DROP*/
#notification {
    position: relative;
    z-index: 1000;
    width: 100%;
}
#notificationIcon {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 40px;
    height: 40px;
    opacity: 0.7;
    transition: all 0.3s ease;
    cursor: pointer;
}
.notificationDefault {
    fill: white;

}
#notificationIcon:hover, .notificationClicked{
    fill: #6DE50A;

}
.notificationClicked{
    filter: url(#dropshadow);
}

#notificationList {
    display: none;
    position: absolute;
    top: 63px;
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    padding: 3% 0;
}
#notificationList * {
    opacity: 0;
    transition: all 0.3s ease;
}

.notifOptions {
    display: flex;
    flex-flow: row nowrap;
    margin: 5px;
    width: 90%;
    justify-content: flex-end;
}
#notificationList h3{
    text-align: center;
    width: 100%;
    color: rgba(255,255,255,0.7);
    margin-bottom: 5%;
}
.hasNotifAm {
    background-color: rgba(165,205,78,0.7);
    padding: 1% 2%;
    border-radius: 10px;
    color: rgba(0,0,0,0.6)
}
.notifTitle {
    width: 100%;
    text-align: center;
    color: rgba(255,255,255,0.6)
}
.friendDetails {
    color: rgba(255,255,255,0.5);
}
.notifOptions form input[type="submit"]{
    margin: 0 5px;
    border-radius: 5px;
    padding: 7px;
    color: rgba(255,255,255,0.7);

    cursor: pointer;
    outline: none;

    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}
.inviteAccept {
    border: 1px solid rgba(109,229,10,0.5);
    background-color: rgba(0,0,0,0.5);
}
.inviteDecline {
    border: 1px solid rgba(154, 0, 0, 0.50);
    background-color: rgba(0,0,0,0.5);
}
.inviteAccept:hover{
    background-color: rgba(109,229,10,0.5);
    border: 1px solid rgba(109,229,10,1);
}
.inviteDecline:hover{
    background-color: rgba(154, 0, 0, 0.5);
    border: 1px solid rgba(154, 0, 0, 1);

}
.notifLink {
    text-decoration: none;
    color: inherit;
}
.notifLink:hover{
    color:rgba(165,205,78,0.7);
}

/*SEARCH DROP*/

.searchDrop {
    display: none;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    width: 100%;
    opacity: 0;
    transition: all 0.3s ease;
}
.dropShow {
    display: block;
    opacity: 1;
}

.searchEventPic, .searchUserPic,.notifEventPic,.notifUserPic {
    width: 40px;
    height: 40px;
    background-size: cover;
    background-position: center center;
    flex-shrink: 0;
    margin: 2%;
    border-radius: 50%;
    border: 1px solid rgba(255,255,255,0.5);
}
.notifEventDetails > a, .friendDetails > a {
    margin: 2%;
}
.notifEventPic,.notifUserPic {
    margin: 0;
}
.searchDrop h4 {
    color: rgba(255,255,255,0.4);
    margin: 5% 2% 2% 2%;
}
.searchDrop h3 {
    font-weight: normal;
    color: rgba(255,255,255,0.6);
    padding: 5% 5% 5% 0;
    text-align: center;
    width: 100%;
    border-bottom: 1px solid #6DE50A;
}


.searchDrop div a, .notifEventDetails,.friendDetails {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    align-items: center;
    color: rgba(255,255,255,0.7);

    transition: all 0.3s ease;
    border-bottom: 1px solid transparent;
}
.notificationItem {
    border-bottom: 1px solid transparent;
    padding: 1%;
    font-size: 0.95em;
}
.searchDrop div a {
    cursor: pointer;
}
.searchDrop div a:hover,.notificationItem:hover{
    background-color: rgba(0,0,0,0.4);
    border-bottom: 1px solid #6DE50A;
}

/*User Details Settings */
#footerUserDetailsProfilePicture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: -1px 1px 12px rgba(0, 0, 0, 0.4);
    background-image: url(../images/profilePicture.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    flex-shrink: 0;
    margin: 3px 0 0 5px;
}

#sideBarFooter {
    margin-top: 30px;
    height: 50px;
    display: block;
    bottom: -5px;
    left: 0;
}

#footerUserDetails {
    display: flex;
    flex-flow: row;
    opacity: 0.5;
    width: 100%;
    height: 50px;
    text-decoration: none;
    transition: all 0.5s;
    background-color: black;
}

#footerUserDetails div {
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

#footerUsername {
    margin-left: 10px;
    color: white;
    font-size: 1em;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

#footerUserDetails:hover {
    box-shadow: inset 2px 2px 20px 5px rgba(0, 0, 0, 0.3);
    background-color: #6DE50A;
    opacity: 1;
}

@media all and (min-width: 600px) {
    #mainHeader {
        max-width: 300px;
        display: block;
    }
}

