
body {
    overflow: visible;
}
::-webkit-scrollbar {
    width: 0;
}
#bg {
    position: fixed;
    top: 0;
    left: 0;
}
.bgwidth {width: 100%;}
.bgheight {height: 100%;}

/* Header Style */

#headerMenu {
    padding: 14px 14px 14px 40px;
}

#mainHeader {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%; !important;
    height: auto; !important;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 99;
}

/* Auth Header Styles */


/* Main Style */
#mainCenterText {
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
    margin: auto;
    text-align: center;
}

#mainCenterText span {
    display: block;
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 3px 3px 5px rgba(0,0,0,0.7);
}

#logoText {
    font-size: 11vw;
    transition: all 0.2s;
}

#motivText {
    font-size: 6vw;
    transition: all 0.2s;
}

#logoUnderline {
    height: 3px;
    background-color: rgba(255, 255, 255, 0.7);
    width: 50%;
    margin: 5px 0 5px 25%;
    border-radius: 50%;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.7);
}

/* Login Form Styles */
#loginForm, #registerForm {
    display: none;
    background-color: rgba(0,0,0,0.7);
    border: 2px solid rgba(255,255,255,0.6);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.7);
    position: relative;
    top: 7em;
    width: 60%;
    margin: auto auto 3em auto;
}

input[type="text"], input[type="password"] {
    width: 100%;
    display: block;
    padding: 10px 0 10px 0;
    margin: 25px 150px 25px 0;
    text-align: center;
    background-color: transparent; !important;
    border-bottom: 1px solid rgba(255,255,255,0.5);
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    font-size: 1.2em;
    font-family: myriadPro;
    transition: all 1s;
    border-radius: 5px;
    text-shadow: 1px 1px 5px rgba(0,0,0,0.7);
    color: rgba(255,255,255,0.7);
}

input[type="text"]:focus, input[type="password"]:focus {
    outline: none;
    border: 1px solid #A3FF56;
    background: rgba(0,0,0,0.5); !important;
    color: rgba(255,255,255,0.7);
}

.formSubmitButton {
    display: block;
    border: 1px solid #6DE50A;
    background-color: transparent;
    border-radius: 5px;
    color: rgba(255,255,255,0.7);
    padding: 10px 50px 10px 50px;
    text-align: center;
    margin: auto;
    width: 100%;
    text-decoration: none;
    font-size: 1.2em;
    font-family: myriadPro;
    cursor: pointer;
    transition: all 0.5s;
    text-shadow: 1px 1px 5px rgba(0,0,0,0.7);
}

.loginFacebookButton {
    display: block;
    border: 1px solid #3b5998;
    background-color: transparent;
    border-radius: 5px;
    color: rgba(255,255,255,0.7);
    padding: 10px 2% 10px 2%;
    text-align: center;
    margin: 30px auto auto auto;
    width: 100%;
    text-decoration: none;
    font-size: 1.2em;
    font-family: myriadPro;
    cursor: pointer;
    transition: all 0.5s;
    text-shadow: 1px 1px 5px rgba(0,0,0,0.7);
    outline: none;
    word-wrap: break-word;
}

.loginFacebookButton:hover {
    background-color:#3b5998;
}

.formSubmitButton:hover {
    background-color:#6DE50A;
}
.formSubmitButton:active, .loginFacebookButton:active {
    outline: none;
    box-shadow: inset 2px 2px 20px 5px rgba(0,0,0,0.3);
}

/* Custom CheckBox Style */


#forgotPassword, #haveAccount {
    color: rgba(255,255,255,0.7);
    margin-top: 20px;
    text-align: center;
}

#forgotPassword a, #haveAccount a {
    text-decoration: none;
    color: rgba(109, 229, 10,0.7);
    transition: all 0.2s;
}
#forgotPassword a:hover, #haveAccount a:hover {
    color: white;
}

/* MaxWidth Media Properties */
@media all and (min-width: 800px) {
    #loginForm, #registerForm {
        width: 40%;
    }
}
@media all and (min-width: 600px) {
    #logoText {
        font-size: 7vw;
        transition: all 0.2s;
    }

    #motivText {
        font-size: 4vw;
        transition: all 0.2s;
    }
}

