#bg {
    position: fixed;
    top: 0;
    left: 0;
}
.bgwidth {width: 100%;}
.bgheight {height: 100%;}

/* Header Style */

#headerMenu {
    padding: 14px 14px 14px 40px;
}

/* Auth Header Styles */


/* Main Style */
#mainCenterText {
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
    margin: auto;
    text-align: center;
}

#mainCenterText span {
    display: block;
    color: rgba(255, 255, 255, 0.7);
    text-shadow: 3px 3px 5px black;
}

#logoText {
    font-size: 5em;
}

#motivText {
    font-size: 3em;
}

#logoUnderline {
    height: 3px;
    background-color: rgba(255, 255, 255, 0.7);
    width: 50%;
    margin: 5px 0 5px 25%;
    border-radius: 50%;
    box-shadow: 3px 3px 5px black;
}

/* MaxWidth Media Properties */


