/* Main Properties */


#userDetails {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 30px auto auto auto;
    border-top: 2px solid #CCC;
    border-radius: 5px;
    padding: 10px;
    flex-wrap: nowrap;
}

#identity {
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    vertical-align: top;
    padding: 0 10px;
    transition: all 0.5s;
}

#detailsUsername {
    background-color: #A3FF56;
    margin: 5px 5px 5px 0;
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 1.2em;
    font-family: myriadPro;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    box-shadow: inset 1px 1px 20px 5px rgba(0, 0, 0, 0.2);
}

#profilePicture {
    text-align: center;

}

#profilePicture img {
    max-width: 350px;
    max-height: 350px;
    width: 80%;
    height: 80%;
    border: 5px solid #BBB;
}

#detailsAboutUser{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow: hidden;
    margin: 20px 0 0 10px;

}
#detailsAboutUser div{
    overflow: hidden;
    flex-shrink: 1;
    margin: 10px 10px 0 10px;
}
#detailsAboutUser p {
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

/* Event List Properties */

#eventListHeader{
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    margin: 10px 0;
}

#eventsList a {
    text-decoration: none;
}

#eventsList {
    border-top: 2px solid #CCC;
    border-radius: 5px;
    max-width: 80%;
    margin: 30px auto auto auto;
    padding: 10px;
}
.eventWrapper {
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
    transition: all 0.5s;
    border-bottom: 1px solid #CCC;
}

.eventWrapper:hover {
    background-color: #A3FF56;
    box-shadow: inset 1px 1px 20px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.eventWrapper:hover h3 {
    color: rgba(255,255,255,0.8);
}

.eventWrapper:hover .eventDetailsUnderline{
    background-color: rgba(255, 255, 255, 0.5);
}

.eventImage {
    width: 80%;
    height: 80%;
    max-width: 350px;
    max-height: 350px;
    border: 5px solid rgba(0,0,0,0.5);
    margin: auto;
}
.eventDetails {
    margin: 30px 0 10px 20px;
}

.eventDetails h3 {
    color: rgba(0,0,0,0.8);
    margin-bottom: 10px;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    transition: all 0.5s;
}

.eventDetails p {
    color: rgba(0,0,0,0.6);
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.eventText{
    height: 75px;
    overflow:hidden;
}

.eventDate {
    color: rgba(0,0,0,0.5);
    text-align: right;
    margin: 10px 5px 0 0;
}

.eventDetailsUnderline {
    margin: 5px; !important;
    background-color: rgba(109,229, 10,0.7);
    transition: all 0.5s;
}




/* Footer options */

#mainFooter {
    display: none;
    width: 80%;
!important;
}


@media all and (min-width: 900px) {
    /* We invert order of first sidebar and main
     * And tell the main element to take twice as much width as the other two sidebars
     */
    #detailsAboutUser {
        max-height: 170px;
        flex-direction: row;
    }
    #detailsAboutUser p {
        -webkit-line-clamp: 6;
    }
    .eventWrapper{
        flex-direction: row;
    }
    .eventImage {
        max-width: 200px;
        max-height: 200px;
        margin-left: 10px;
    }
}
@media all and (min-width: 1000px) {
    /* We invert order of first sidebar and main
     * And tell the main element to take twice as much width as the other two sidebars
     */
    #userDetails {
        flex-direction: row;
    }
    #detailsAboutUser {
        max-height: 240px;
    }
    #detailsAboutUser p {
        -webkit-line-clamp: 11;
    }
    #profilePicture img {
        width: 100%;
        height: 100%;
    }
    #detailsUsername {
        width: 190px;
    }
    #identity {
        width: 200px;
        transition: all 0.5s;
    }
}

